@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');


/* Root permet de définir des variables par défault sur tout le site,si on ne touche pas a ces variables ellse auront toujours leur valeur */

:root{  
    --button:rgb(128, 0, 43);
    --highlight:rgb(39, 136, 35);
    --textcolor:#f3afaf; 
    --black:#000000;
    --light-color:#fdefe5;
    --headercolor:rgb(175, 53, 87); 
    --white:#FFFF;
    --border:1px solid var(--light-color);
    --red:rgb(175, 12, 12);
    --box-shadow:0 .5rem 1rem;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    color: var(--black);
}

body{
    /* background-color:#F9E4D4; */
    background-color:var(--white);
}

html{
    font-size: 62.5%;
    overflow-x: hidden; /* Overflow permet d'empecher les depassements de texte */
    scroll-behavior: smooth;
    scroll-padding-top: 6.5rem;
}

section{
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.disabled{
    user-select: none;
    pointer-events: none;
    opacity: .5;
}





/* ------------------------------ btn ------------------------------- */

.btn,
.delete-btn, .option-btn{
    width: 100%;
    display: block;
    margin-top: 1rem;
    border-radius: .5rem;
    color: white;
    font-size: 2rem;
    padding: 1.3rem 3rem;
    cursor: pointer;
    text-transform: capitalize; 
    text-align: center;
}


.btn{
    background-color: var(--button);
}

.delete-btn{
    background-color:  rgb(161, 18, 18);
}

.option-btn{
    background-color:var(--highlight);
}

.btn:hover{
    background-color:rgb(149, 4, 52);
}

.delete-btn:hover{
    background-color:  rgb(187, 22, 22);
}

.option-btn:hover{
    background-color: rgb(48, 168, 44);
}

.flex-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; 
}

.flex-btn > *{
    flex: 1;
}

.title{
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color:var(--black);
    font-size: 3.5rem;
}

/* ---------------------------------- succès et erreur ------------------------------------ */


.message{
    position: sticky;
    top:0;
    max-width: 1200px;
    margin:0 auto;
    background-color: #f9ebdf;
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
    z-index: 10000;
}
 
.message span{
    font-size: 2rem;
    color:var(--black);
}
 
.message i{
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--textcolor);
}
 
.message i:hover{
    color:var(--black);
}


.empty{
    padding: 1.5rem;
    background-color: var(--headercolor);
    color: var(--textcolor);
    border-radius: .5rem;
    border: var(--border);
    font-size: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    text-transform: capitalize;
}

@keyframes fadeIn {

   0%{
       transform: translateY(1rem);
   }
}



/* ---------------------------------- form_container ------------------------------------ */

.form_container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.form_container form{
    width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
    padding: 2rem;
}

.form_container form h3{
    font-size: 3rem;
    color: var(--black);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.form_container form .box{
    width: 100%;
    margin: 1rem 0;
    border-radius: .5rem;
    border: var(--border);
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    background-color: var(--light-bg);
}

.form_container form p{
    margin-top: 2rem;
    font-size: 2.2rem;
    color: var(--button);
}

.form_container form p a{
    color: var(--button);
}

.form_container form p a:hover{
    text-decoration: underline;
}



/* ---------------------------------- header ------------------------------------ */

.header{
    background: #9C0F48;
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    
}

.header .flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.header .flex .logo{
    font-size: 3rem;
    font-style: oblique 40deg;
    font-weight: bold;
    color:rgb(75, 7, 30);
}

.header .flex .logo span{
    color: var(--highlight);
    font-style: oblique 40deg;
    font-weight: bold;
}

.header .flex .navbar a{
    margin: 0 1rem;
    font-style: oblique 40deg;
    font-size: 2rem;
    color: var(--textcolor);
} 

.header .flex .navbar a:hover{
    font-style: oblique 40deg;
    text-decoration: underline;
    color: white;
}

.header .flex .icons > *{
    font-size: 2.5rem;
    color: var(--white);
    cursor: pointer;
    margin-left: 1.5rem;
}

.header .flex .icons > *:hover{
    color: var(--black);
}

.header .flex .icons a span,
.header .flex .icons a i{
    color: var(--white);
}

.header .flex .icons a:hover span,
.header .flex .icons a:hover i{
    color: var(--black);
}

.header .flex .icons a span{
    font-size: 2rem;
} 

#menu-btn{
    display: none;
} 

.header .flex .profile{
    position: absolute;
    top: 120%; right: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    text-align: center;
    padding: 2rem;
    background-color: var(--white);
    width: 33rem;
    display: none;
    animation: fadeIn .2s linear;
}

.header .flex .profile.active{
    display: inline-block;
}

.header .flex .profile img{
    height: 15rem;
    width: 15rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    object-fit: cover;
}

.header .flex .profile p{
    padding: .5rem 0;
    font-size: 2rem;
    color: var(--button);
}




/* ---------------------------------- update profile ------------------------------------ */

.update-profile form{
    max-width: 70rem;
    margin: 0 auto;
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}

.update-profile form .flex{
    display: flex;
    gap: 1.5rem;
    justify-content: space-between;
}

.update-profile form img{
    height: 20rem;
    width: 20rem;
    margin-bottom: 1rem;
    border-radius: 50%;
    object-fit: cover;
}


.update-profile form .box{
    text-align: left;
    width: 49% ;
}

.update-profile form span{
    display: block;
    padding-top: 1rem;
    font-size: 1.8rem;
    color: var(--button);
}

.update-profile form .box span{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    border: var(--border);
    border-radius: .5rem;
    margin: 1rem 0;
    background-color: var(--light-bg);
}

.update-profile form .inputBox .box{
    width: 100%;
    padding:1.2rem 1.4rem;
    font-size: 1.8rem;
    color:var(--black);
    border:var(--border);
    border-radius: .5rem;
    margin:1rem 0;
    background-color: var(--light-bg);
}










/* ---------------------------------- footer ------------------------------------ */

.footer{
    background-color:#F9E4D4;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2.5rem;
    align-items: flex-start;
}

.footer .box-container .box h3{
    text-transform: uppercase;
    color: black;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.footer .box-container .box a,
.footer .box-container .box p{
    display: block;
    padding: 1.3rem 0;
    font-size: 1.6rem;
    /* color: var(--light-color); */
    color: var(--black)
}


.footer .box-container .box a i,
.footer .box-container .box p i{
    color: var(--button);
    padding-right: 1rem;
}

.footer .box-container .box a:hover{
    text-decoration: underline;
    color: var(--button);
}

.footer .credit{
    padding: 2.5rem 1.5rem;
    padding-bottom: 2.5rem;
    line-height: 1.5;
    border-top: var(--border);
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.footer .credit span{
    color: var(--button); 
}











/* ---------------------------------- MEDIA QUERY ------------------------------------ */

@media(max-width:991px){ 
    /* Lorsque mon écran a une grandeur maximale de 991px alors la taille des caractères html feront 50% */
        html{
            font-size: 55%;
        }
}



@media(max-width:768px){   

    #menu-btn{
        display: inline-block;
    }

    .header .flex .navbar{
        border-top: var(--border);
        border-bottom: var(--border);
        background-color: var(--headercolor);
        position: absolute;
        top: 99%; left: 0; right: 0;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .flex .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }

    .update-profile form .flex{
           flex-wrap: wrap;
           gap: 0;
    }

    .update-profile form .flex .box{
        width: 100%;
    }
}


    
@media(max-width:450px){   

    html{
        font-size: 50%;
    }

    flex-btn{
        flex-flow: column;
        gap: 0;
    }

    .title{
        font-size: 3rem;
    }
}
    
   
/* ---------------------------------- MEDIA QUERY END ------------------------------------ */